.home__container {
    background: url("../../assets/main_background.png") no-repeat;
    background-size: cover;
    height: 648px;
}

.home__container h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
}

.home__container span {
    position: relative;
    top: 40px;
}
.home__container__title {
    color: white;
    padding-top: 150px;
    padding-left: 150px;
    max-width: 600px;
}
